

.cabezalocation {
   display: flex;
   justify-content: space-between;
   background-color: black;
  padding-top: 1%;
  padding: 2%;
}
.iconubicacion :hover{
font-size: 110%;
color: gold;
transition: 0.1s;
}

.iconocontacto :hover{
    font-size: 110%;
    color: gold;
    transition: 0.1s; 
}

.titulodos {
    font-size: 200%;
    padding-top: 1.5%;
    color: gold;
}